{% extends 'base.html.twig' %}

{% block body %}

    <div id="main-wrapper" class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <div class="card border-0">
                    <div class="card-body p-0">
                        <div class="row no-gutters">
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="mb-5">
                                        <h3 class="h4 font-weight-bold text-theme">Donkeyheads Mastodon Service</h3>
                                    </div>

                                    <h6 class="h5 mb-0">Permission request</h6>
                                    <p class="text-muted mt-2 mb-5">A client named <strong>{{ client.name }}</strong> seeks the following permissions:
                                        {% for scope in client.scopes %}
                                            <span class="badge bg-success">{{ scope }}</span>
                                        {% endfor %}
                                    </p>

                                    <p>Enter your email and password to accept this client to access your account on your behalf.</p>



                                    {% if user %}

                                        <p>You are currently logged in as <strong>{{ user.email }}</strong>.</p>

                                        <form class="mt-5" method="post">

                                            <button type="submit" value="authorize" class="btn btn-primary">Authorize</button>
                                            <button type="submit" value="deny" class="btn btn-danger">Deny</button>
                                        </form>
                                    {% else %}
                                    <form class="mt-5" method="post">
                                        <div class="form-group">
                                            <label class="form-label" for="user">Email address</label>
                                            <input type="text" id="user" name="_username" class="form-control" value="{{ last_username }}"/>
                                        </div>
                                        <div class="form-group mb-5">
                                            <label class="form-label" for="password">Password</label>
                                            <input type="password" id="password" name="_password" class="form-control" />
                                        </div>

                                        <div class="form-outline mb-5">
                                            {% if error %}
                                                <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                            {% endif %}
                                        </div>


                                        <button type="submit" class="btn btn-primary">Authorize</button>
                                        <a href="{{ path('app_forgot_password_request') }}" class="forgot-link float-right text-primary">Forgot password?</a>
                                    </form>
                                    {% endif %}

                                </div>
                            </div>

                            <div class="col-lg-6 d-none d-lg-inline-block">
                                <div class="account-block rounded-right">
                                    <div class="overlay rounded-right"></div>
                                    <div class="account-testimonial">
                                        <h4 class="text-white mb-4">Decentralize the tweet!</h4>
                                        <p class="lead text-white">"Frankly my dear, I don't give a toot"</p>
                                        <p>- Donkey X. Head</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
