{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div id="main-wrapper" class="container">
            <div class="row justify-content-center">
                <div class="col-xl-10">
                    <div class="card border-0">
                        <div class="card-body p-0">
                            <div class="row no-gutters">
                                <div class="col-lg-6">
                                    <div class="p-5">
                                        <div class="mb-5">
                                            <h3 class="h4 font-weight-bold text-theme">Donkeyheads Mastodon Service</h3>
                                        </div>

                                        <h6 class="h5 mb-0">Reset your password</h6>
                                        <p class="text-muted mt-2 mb-5">Forgot your password? It can happen. Enter here your email address and if it's known to us, we will send you a link to reset your password.</p>

                                        {{ form_start(requestForm) }}
                                            {{ form_row(requestForm.email) }}

                                        {% if registrationForm.captcha is defined %}
                                            {{ form_row(registrationForm.captcha) }}
                                        {% endif %}

                                            <div class="form-group mt-3">
                                                <button type="submit" class="btn btn-primary">Send password reset email</button>
                                            </div>

                                        {{ form_end(requestForm) }}

                                    </div>
                                </div>

                                {% include "overlay.html.twig" %}
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>


{% endblock %}
