{% extends 'base.html.twig' %}

{% block body %}

    <div id="main-wrapper" class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10">

                {% if app.user %}
                    <h1> Homepage for {{ app.user.email }} </h1>
                {% else %}
                    <h1>Default homepage for non-logged-in users</h1>
                {% endif %}

                <p>Normally, you would see your timeline and stuff. But the web part is not done yet.</p>

                <p>For now, have a donkeyhead:</p>

                <p>
                <img class="img img-responsive col-2" src="{{ asset('dh.jpg') }}" alt="Donkeyhead" />
                </p>


                {% if is_granted('ROLE_ADMIN') %}
                    <p>But you are an admin, so you can see the admin page:</p>
                    <p><a class="btn btn-primary" href="{{ path('admin_config') }}">Instance configuration page</a></p>
                {% endif %}

                {% if app.user %}
                <a class="btn btn-primary" href="{{ path('app_logout') }}">Logout</a>
                {% else %}
                    <a class="btn btn-primary" href="{{ path('app_login') }}">Login</a>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
